Definition of extreme event according to Regulation EU 2017/1938 Article 6: 

"Extreme temperature duing a 7-day peak period with a statistical probability of one in 20 years"

Focus on the latter half i.e., 2000-2019

In [1]:
import pandas as pd
import numpy as np
import glob
import os

In [2]:
# quantile equivalent of 7-day period once in 10 years (relaxed from 20 to include the second coldest)
q=7/365.25/10
print(q)

0.0019164955509924707

In [3]:
cwd=os.getcwd()
path_adjusted_temp=os.path.join(cwd, 'adjusted_ninja_temperature/')
all_csvs = glob.glob(path_adjusted_temp + "/*.csv")

countries=[filename[-6:-4] for filename in all_csvs]
print(countries)

['AT', 'BE', 'CZ', 'DE', 'DK', 'EE', 'GB', 'GR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LV', 'NL', 'PL', 'RO', 'SI', 'SK', 'CH', 'FI', 'NO', 'SE', 'PT', 'BG', 'ES', 'FR', 'LU', 'UA']

In [4]:
df_extreme={}

for country in countries:
    
    df_temp=pd.read_csv('adjusted_ninja_temperature/adjusted_ninja_temp_%s.csv' %country)
    df_temp['time']=pd.to_datetime(df_temp['time'])
    df_temp=df_temp.set_index('time')
    df_temp=df_temp.loc[df_temp.index.year>=2000] # consider only the second half of the data
    
    df_daily=df_temp.groupby(df_temp.index.date).mean()
    # take daily mean
    v_daily=df_daily.values
    # take 7 days average

    v_seven_days_average=np.array([
                v_daily[i:i+7].mean() for i in range(len(v_daily))]) # last 7 days are not 7-day averages but 
                                                                     # averages over the remaining days
    threshold=np.quantile(v_seven_days_average, q)        
    dates=df_daily.index[v_seven_days_average<threshold]
    averages=v_seven_days_average[v_seven_days_average<threshold]
    
    _df_extreme=pd.DataFrame(index=dates, columns=['7day_average'], data=averages)
    _df_extreme.index=pd.to_datetime(_df_extreme.index)
    _df_extreme.index.name='date'
    df_extreme[country]=_df_extreme
    
    print(country, threshold)
    
    for year, _df in _df_extreme.groupby(_df_extreme.index.year):
        for month, _df1 in _df.groupby(_df.index.month):
            print(_df1['7day_average'].idxmin(), _df1['7day_average'].min())

AT -8.293932747690079
2006-01-22 00:00:00 -9.606078800511304
2012-01-31 00:00:00 -10.270367550976307
2012-02-02 00:00:00 -10.96939939101035
2018-02-24 00:00:00 -8.378701796108675
BE -3.1107365978317585
2003-01-06 00:00:00 -3.402684221302238
2009-01-05 00:00:00 -3.617044008075279
2012-01-31 00:00:00 -4.543817593498688
2012-02-02 00:00:00 -5.422928506340996
CZ -10.299522481852435
2006-01-22 00:00:00 -13.23953096769666
2012-01-31 00:00:00 -12.801170570880656
2012-02-01 00:00:00 -13.016691124928387
DE -5.3883879004371815
2003-01-06 00:00:00 -5.84146515945259
2010-01-21 00:00:00 -5.493676292786094
2012-01-31 00:00:00 -7.644111533123505
2012-02-01 00:00:00 -8.340725726900375
DK -4.859088698967162
2003-01-04 00:00:00 -4.902508231962351
2010-12-21 00:00:00 -5.708893658890742
2012-01-31 00:00:00 -5.762324732891639
2012-02-02 00:00:00 -6.6618125659770895
EE -16.367814899943458
2006-01-17 00:00:00 -17.169339444458036
2010-01-21 00:00:00 -16.609344138863094
2011-02-15 00:00:00 -17.52598739067706
2012-01-30 00:00:00 -17.178924860407392
2012-02-01 00:00:00 -16.425222668341366
GB -0.42652710550449235
2010-01-03 00:00:00 -1.1350968322490593
2010-12-17 00:00:00 -1.2150064863659886
2018-02-24 00:00:00 -0.5253424581309032
GR 2.314845852300087
2002-01-02 00:00:00 0.9237487363175289
2003-02-18 00:00:00 2.23123803914591
2005-02-04 00:00:00 2.073795337827478
2006-01-23 00:00:00 1.7104212826546685
2017-01-06 00:00:00 1.7172908962157234
HR -5.670084222092394
2003-01-07 00:00:00 -6.26454938450643
2006-01-22 00:00:00 -5.857625702663937
2012-01-31 00:00:00 -6.334090148085488
2012-02-04 00:00:00 -8.205949337110258
2017-01-05 00:00:00 -5.7029375171221215
HU -7.594614312852814
2003-01-07 00:00:00 -7.798197691866052
2006-01-22 00:00:00 -8.711588135505421
2012-01-31 00:00:00 -7.958249448985185
2012-02-02 00:00:00 -8.273052504867081
2017-01-06 00:00:00 -7.815816194590185
IE 0.7318685274030227
2010-01-03 00:00:00 -0.03629528093191354
2010-11-27 00:00:00 0.5863267988967577
2010-12-19 00:00:00 -1.1037551036832018
IT 2.3515780719448642
2012-01-31 00:00:00 1.2365135145559167
2012-02-04 00:00:00 0.9048822422185249
2017-01-06 00:00:00 1.8081919822861237
LT -15.870428873820346
2006-01-18 00:00:00 -19.605456685705274
2010-01-21 00:00:00 -16.991118070966035
2012-01-31 00:00:00 -17.914577773099783
2012-02-01 00:00:00 -17.092047382113787
LV -15.43412958471214
2006-01-18 00:00:00 -18.498714265474153
2010-01-21 00:00:00 -16.478071075807623
2011-02-14 00:00:00 -15.486184164753793
2012-01-31 00:00:00 -18.006582290868437
2012-02-01 00:00:00 -17.642789857647397
NL -2.856840761831463
2003-01-05 00:00:00 -2.9556687147112863
2012-01-31 00:00:00 -5.00293813349868
2012-02-01 00:00:00 -5.582857382036731
2013-01-19 00:00:00 -3.104717169492731
PL -12.084625239727
2006-01-19 00:00:00 -13.286719750461506
2010-01-21 00:00:00 -14.285714244819204
2012-01-31 00:00:00 -13.494082634784137
2012-02-01 00:00:00 -13.015554493647196
RO -10.18585666257533
2006-01-22 00:00:00 -10.25110620766569
2010-01-21 00:00:00 -10.872944812748331
2012-01-27 00:00:00 -12.595346652292903
2012-02-06 00:00:00 -11.663016387505051
SI -8.134450094364908
2003-01-07 00:00:00 -8.415255546687671
2006-01-22 00:00:00 -8.719645385842727
2012-01-31 00:00:00 -8.83250126300356
2012-02-02 00:00:00 -9.331894715245776
2018-02-24 00:00:00 -9.25832312687143
SK -10.676032347881462
2006-01-22 00:00:00 -12.416231002417465
2012-01-31 00:00:00 -12.946077782866386
2012-02-01 00:00:00 -12.923616026299797
CH -7.632017311328881
2003-02-12 00:00:00 -7.829693231147796
2005-01-24 00:00:00 -8.121174525640535
2012-01-31 00:00:00 -10.107805086257343
2012-02-03 00:00:00 -11.640678187704452
FI -18.312780421948567
2002-12-31 00:00:00 -19.757729730686638
2003-01-01 00:00:00 -19.55028781160027
2011-02-13 00:00:00 -19.931425812667218
2012-01-30 00:00:00 -18.975209455041018
NO -9.770327472379032
2001-01-31 00:00:00 -11.440138512386202
2001-02-01 00:00:00 -11.220956481800735
2009-12-31 00:00:00 -9.963835177105475
2010-01-04 00:00:00 -11.677697386302857
2010-12-19 00:00:00 -10.57756942215191
SE -10.777288148013772
2002-12-31 00:00:00 -11.92588837274843
2003-01-01 00:00:00 -10.869064549528238
2009-12-31 00:00:00 -11.036456993782647
2010-01-03 00:00:00 -12.422473895494509
2010-12-21 00:00:00 -10.878506736311488
2016-01-14 00:00:00 -11.090876782877718
PT 6.932225856053888
2003-01-10 00:00:00 5.992248924287508
2005-01-25 00:00:00 6.823714440414894
2005-02-25 00:00:00 6.816999949321515
2009-01-06 00:00:00 5.902668266923752
2012-02-08 00:00:00 6.872462137656937
BG -9.997022373063837
2005-02-05 00:00:00 -11.299381140237147
2010-01-21 00:00:00 -10.196756797180024
2012-01-27 00:00:00 -12.605866306678958
2017-01-06 00:00:00 -11.337755902563922
ES 4.683669356891181
2005-01-25 00:00:00 3.8590518433472387
2009-01-06 00:00:00 4.479991945259436
2010-01-06 00:00:00 4.488949209902128
2012-02-08 00:00:00 3.8502182978294455
FR -2.464596663507371
2003-01-06 00:00:00 -3.0391093068088675
2009-01-03 00:00:00 -2.4647283349239624
2012-01-31 00:00:00 -3.7758488781422805
2012-02-02 00:00:00 -4.996767650183914
LU -5.583618177304779
2001-12-31 00:00:00 -6.767245171393396
2002-01-01 00:00:00 -6.111678030772269
2003-01-06 00:00:00 -5.860515753819898
2009-01-06 00:00:00 -5.599344364665012
2012-01-31 00:00:00 -6.568116233807928
2012-02-02 00:00:00 -7.89700007937694
UA -14.581062537247574
2006-01-20 00:00:00 -17.379820292932468
2010-01-21 00:00:00 -15.827307537111398
2012-01-28 00:00:00 -15.351723563377234
2012-02-06 00:00:00 -14.916946650359792

In [5]:
# record the lowest two years
df_peak_years=pd.DataFrame(index=countries, columns=['coldest_year', 'coldest_week_commencing',
                                                     'coldest_week_mean_temp', '2ndcoldest_year', 
                                                     '2ndcoldest_week_commencing', '2ndcoldest_week_mean_temp'])
for country in countries:
    
    _df=df_extreme[country]
    
    coldest_average=_df['7day_average'].min()
    coldest_day=_df['7day_average'].idxmin()
        
    
    _df=_df.loc[(_df.index<coldest_day-pd.Timedelta('30days')) | (_df.index>coldest_day+pd.Timedelta('30days'))]
    
    coldest2_average=_df['7day_average'].min()
    coldest2_day=_df['7day_average'].idxmin()
    
    df_peak_years.loc[country]=[coldest_day.year, coldest_day, coldest_average,
                               coldest2_day.year, coldest2_day, coldest2_average]
df_peak_years

,coldest_year,coldest_week_commencing,coldest_week_mean_temp,2ndcoldest_year,2ndcoldest_week_commencing,2ndcoldest_week_mean_temp
AT,2012,2012-02-02 00:00:00,-10.969399,2006,2006-01-22 00:00:00,-9.606079
BE,2012,2012-02-02 00:00:00,-5.422929,2009,2009-01-05 00:00:00,-3.617044
CZ,2006,2006-01-22 00:00:00,-13.239531,2012,2012-02-01 00:00:00,-13.016691
DE,2012,2012-02-01 00:00:00,-8.340726,2003,2003-01-06 00:00:00,-5.841465
DK,2012,2012-02-02 00:00:00,-6.661813,2010,2010-12-21 00:00:00,-5.708894
EE,2011,2011-02-15 00:00:00,-17.525987,2012,2012-01-30 00:00:00,-17.178925
GB,2010,2010-12-17 00:00:00,-1.215006,2010,2010-01-03 00:00:00,-1.135097
GR,2002,2002-01-02 00:00:00,0.923749,2006,2006-01-23 00:00:00,1.710421
HR,2012,2012-02-04 00:00:00,-8.205949,2003,2003-01-07 00:00:00,-6.264549
HU,2006,2006-01-22 00:00:00,-8.711588,2012,2012-02-02 00:00:00,-8.273053
IE,2010,2010-12-19 00:00:00,-1.103755,2010,2010-01-03 00:00:00,-0.036295
IT,2012,2012-02-04 00:00:00,0.904882,2017,2017-01-06 00:00:00,1.808192
LT,2006,2006-01-18 00:00:00,-19.605457,2012,2012-01-31 00:00:00,-17.914578
LV,2006,2006-01-18 00:00:00,-18.498714,2012,2012-01-31 00:00:00,-18.006582
NL,2012,2012-02-01 00:00:00,-5.582857,2013,2013-01-19 00:00:00,-3.104717
PL,2010,2010-01-21 00:00:00,-14.285714,2012,2012-01-31 00:00:00,-13.494083
RO,2012,2012-01-27 00:00:00,-12.595347,2010,2010-01-21 00:00:00,-10.872945
SI,2012,2012-02-02 00:00:00,-9.331895,2018,2018-02-24 00:00:00,-9.258323
SK,2012,2012-01-31 00:00:00,-12.946078,2006,2006-01-22 00:00:00,-12.416231
CH,2012,2012-02-03 00:00:00,-11.640678,2005,2005-01-24 00:00:00,-8.121175
FI,2011,2011-02-13 00:00:00,-19.931426,2002,2002-12-31 00:00:00,-19.75773
NO,2010,2010-01-04 00:00:00,-11.677697,2001,2001-01-31 00:00:00,-11.440139
SE,2010,2010-01-03 00:00:00,-12.422474,2002,2002-12-31 00:00:00,-11.925888
PT,2009,2009-01-06 00:00:00,5.902668,2003,2003-01-10 00:00:00,5.992249
BG,2012,2012-01-27 00:00:00,-12.605866,2017,2017-01-06 00:00:00,-11.337756
ES,2012,2012-02-08 00:00:00,3.850218,2005,2005-01-25 00:00:00,3.859052
FR,2012,2012-02-02 00:00:00,-4.996768,2003,2003-01-06 00:00:00,-3.039109
LU,2012,2012-02-02 00:00:00,-7.897,2001,2001-12-31 00:00:00,-6.767245
UA,2006,2006-01-20 00:00:00,-17.37982,2010,2010-01-21 00:00:00,-15.827308

In [6]:
# save
df_peak_years.to_csv('peak_years_00to19.csv')