Definition of extreme event according to Regulation EU 2017/1938 Article 6: 

"Extreme temperature duing a 7-day peak period with a statistical probability of one in 20 years"

We have 40 years of data ---> find the coldest 7-day peak period for each country and make it once in 40 years

In [1]:
import pandas as pd
import numpy as np
import glob
import os

In [2]:
# quantile equivalent of 7-day period once in 20 years
q=7/365.25/20
print(q)

0.0009582477754962353

In [3]:
cwd=os.getcwd()
path_adjusted_temp=os.path.join(cwd, 'adjusted_ninja_temperature/')
all_csvs = glob.glob(path_adjusted_temp + "/*.csv")

countries=[filename[-6:-4] for filename in all_csvs]
print(countries)

['AT', 'BE', 'CZ', 'DE', 'DK', 'EE', 'GB', 'GR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LV', 'NL', 'PL', 'RO', 'SI', 'SK', 'CH', 'FI', 'NO', 'SE', 'PT', 'BG', 'ES', 'FR', 'LU', 'UA']

In [4]:
df_extreme={}

for country in countries:
    
    df_temp=pd.read_csv('adjusted_ninja_temperature/adjusted_ninja_temp_%s.csv' %country)
    df_temp['time']=pd.to_datetime(df_temp['time'])
    df_temp=df_temp.set_index('time')
    
    df_daily=df_temp.groupby(df_temp.index.date).mean()
    # take daily mean
    v_daily=df_daily.values
    # take 7 days average

    v_seven_days_average=np.array([
                v_daily[i:i+7].mean() for i in range(len(v_daily))]) # last 7 days are not 7-day averages but 
                                                                     # averages over the remaining days
    threshold=np.quantile(v_seven_days_average, q)        
    dates=df_daily.index[v_seven_days_average<threshold]
    averages=v_seven_days_average[v_seven_days_average<threshold]
    
    _df_extreme=pd.DataFrame(index=dates, columns=['7day_average'], data=averages)
    _df_extreme.index=pd.to_datetime(_df_extreme.index)
    _df_extreme.index.name='date'
    df_extreme[country]=_df_extreme
    
    print(country, threshold)
    
    for year, _df in _df_extreme.groupby(_df_extreme.index.year):
        for month, _df1 in _df.groupby(_df.index.month):
            print(_df1['7day_average'].idxmin(), _df1['7day_average'].min())

AT -10.71258214356232
1985-01-05 00:00:00 -13.190466068049124
1987-01-08 00:00:00 -10.999560913966919
1996-12-26 00:00:00 -11.477316803884063
2012-02-02 00:00:00 -10.96939939101035
BE -6.024112540659749
1985-01-13 00:00:00 -7.425347505988374
1987-01-11 00:00:00 -7.671913416443252
1996-12-31 00:00:00 -6.610377196416607
1997-01-01 00:00:00 -6.405845492933115
CZ -13.239544328915576
1985-01-05 00:00:00 -13.936553332308597
1987-01-10 00:00:00 -14.832213845247594
1996-12-26 00:00:00 -14.955217459475561
DE -9.097589066008569
1985-01-05 00:00:00 -9.879638564825148
1987-01-11 00:00:00 -10.926726755952147
1996-12-27 00:00:00 -9.536591638945946
DK -7.814014660162354
1982-01-05 00:00:00 -8.208026197661372
1985-01-04 00:00:00 -8.041313356744157
1985-02-08 00:00:00 -8.731105593219313
1987-01-09 00:00:00 -10.596961255698085
EE -17.17346294361783
1985-02-05 00:00:00 -18.132054356619044
1987-01-06 00:00:00 -22.7003336636667
2011-02-15 00:00:00 -17.52598739067706
2012-01-30 00:00:00 -17.178924860407392
GB -2.0565587069549203
1982-01-08 00:00:00 -3.0363163167968232
1985-02-10 00:00:00 -2.7914805038424397
1987-01-11 00:00:00 -2.882142051853123
GR 1.769047392534761
1987-03-04 00:00:00 -0.015684005904808673
1991-01-30 00:00:00 1.624728524838023
2002-01-02 00:00:00 0.9237487363175289
2006-01-23 00:00:00 1.7104212826546685
2017-01-06 00:00:00 1.7172908962157234
HR -7.46772695016737
1985-01-06 00:00:00 -9.300266578704685
1996-12-26 00:00:00 -8.163395561641414
2012-02-04 00:00:00 -8.205949337110258
HU -9.362802537600343
1985-01-06 00:00:00 -10.62155861242518
1985-02-11 00:00:00 -9.458450324471471
1987-01-08 00:00:00 -9.845069069771354
1996-12-25 00:00:00 -12.33793536918942
IE -0.03608773947893307
1982-01-07 00:00:00 -1.0523007446327366
1985-01-13 00:00:00 -0.11197218459939896
1986-02-21 00:00:00 -0.08220593582352133
1987-01-11 00:00:00 -0.44458256324399115
2010-01-03 00:00:00 -0.03629528093191354
2010-12-19 00:00:00 -1.1037551036832018
IT 1.1167731743047915
1985-01-06 00:00:00 -1.323064865605621
2012-02-04 00:00:00 0.9048822422185249
LT -17.07959963312941
1985-02-06 00:00:00 -17.240317144280755
1987-01-05 00:00:00 -18.453213977032497
2006-01-18 00:00:00 -19.605456685705274
2012-01-31 00:00:00 -17.914577773099783
2012-02-01 00:00:00 -17.092047382113787
LV -17.464956895899952
1985-02-05 00:00:00 -17.52876215870768
1987-01-06 00:00:00 -20.27003292006435
2006-01-18 00:00:00 -18.498714265474153
2012-01-31 00:00:00 -18.006582290868437
2012-02-01 00:00:00 -17.642789857647397
NL -6.534741674003331
1985-01-13 00:00:00 -7.464255885411121
1987-01-11 00:00:00 -8.369264014242924
1996-12-31 00:00:00 -7.765612181663341
1997-01-01 00:00:00 -7.471780987441723
PL -13.152332670314664
1987-01-10 00:00:00 -15.18704433879371
2006-01-19 00:00:00 -13.286719750461506
2010-01-21 00:00:00 -14.285714244819204
2012-01-31 00:00:00 -13.494082634784137
RO -10.870564923955712
1985-01-11 00:00:00 -12.024779266165114
2010-01-21 00:00:00 -10.872944812748331
2012-01-27 00:00:00 -12.595346652292903
2012-02-06 00:00:00 -11.663016387505051
SI -9.21714754643138
1985-01-05 00:00:00 -10.781672862871925
1987-01-08 00:00:00 -9.540068017282042
1996-12-25 00:00:00 -10.710804374767658
2012-02-02 00:00:00 -9.331894715245776
2018-02-24 00:00:00 -9.25832312687143
SK -12.591213330694424
1985-01-05 00:00:00 -13.936170682998297
1987-01-08 00:00:00 -14.03631405533642
1996-12-25 00:00:00 -13.555667647200519
2012-01-31 00:00:00 -12.946077782866386
2012-02-01 00:00:00 -12.923616026299797
CH -10.608068878440923
1985-01-05 00:00:00 -13.857997623600848
2012-02-03 00:00:00 -11.640678187704452
FI -21.23062942919175
1985-01-03 00:00:00 -23.155851041567406
1987-01-06 00:00:00 -28.797158397611206
NO -11.445405611726526
1982-01-02 00:00:00 -13.269739597159836
1987-01-09 00:00:00 -15.061022667817282
2010-01-04 00:00:00 -11.677697386302857
SE -12.868029986698458
1985-02-14 00:00:00 -14.648025590326542
1987-01-07 00:00:00 -17.690999268392947
PT 6.359346220725086
1983-02-09 00:00:00 5.930573987050301
1985-01-09 00:00:00 5.591273289505968
2003-01-10 00:00:00 5.992248924287508
2009-01-06 00:00:00 5.902668266923752
BG -9.996988103434102
2005-02-05 00:00:00 -11.299381140237147
2010-01-21 00:00:00 -10.196756797180024
2012-01-27 00:00:00 -12.605866306678958
2017-01-06 00:00:00 -11.337755902563922
ES 3.711199570560767
1983-02-09 00:00:00 3.0027237344020676
1985-01-10 00:00:00 2.093895414805975
FR -5.358952916342055
1985-01-11 00:00:00 -6.849930516813644
1987-01-11 00:00:00 -6.3978949461241275
LU -8.081689648115397
1985-01-08 00:00:00 -9.74444020155364
1987-01-11 00:00:00 -8.396045879311398
1996-12-27 00:00:00 -9.110976291980924
UA -14.581045176606557
2006-01-20 00:00:00 -17.379820292932468
2010-01-21 00:00:00 -15.827307537111398
2012-01-28 00:00:00 -15.351723563377234
2012-02-06 00:00:00 -14.916946650359792

In [5]:
# we have 40 years of data -> record the lowest two years to make it twice in 40 years 
df_peak_years=pd.DataFrame(index=countries, columns=['coldest_year', 'coldest_week_commencing',
                                                     'coldest_week_mean_temp', '2ndcoldest_year', 
                                                     '2ndcoldest_week_commencing', '2ndcoldest_week_mean_temp'])
for country in countries:
    
    _df=df_extreme[country]
    
    coldest_average=_df['7day_average'].min()
    coldest_day=_df['7day_average'].idxmin()
        
    
    _df=_df.loc[(_df.index<coldest_day-pd.Timedelta('30days')) | (_df.index>coldest_day+pd.Timedelta('30days'))]
    
    coldest2_average=_df['7day_average'].min()
    coldest2_day=_df['7day_average'].idxmin()
    
    df_peak_years.loc[country]=[coldest_day.year, coldest_day, coldest_average,
                               coldest2_day.year, coldest2_day, coldest2_average]
df_peak_years

,coldest_year,coldest_week_commencing,coldest_week_mean_temp,2ndcoldest_year,2ndcoldest_week_commencing,2ndcoldest_week_mean_temp
AT,1985,1985-01-05 00:00:00,-13.190466,1996,1996-12-26 00:00:00,-11.477317
BE,1987,1987-01-11 00:00:00,-7.671913,1985,1985-01-13 00:00:00,-7.425348
CZ,1996,1996-12-26 00:00:00,-14.955217,1987,1987-01-10 00:00:00,-14.832214
DE,1987,1987-01-11 00:00:00,-10.926727,1985,1985-01-05 00:00:00,-9.879639
DK,1987,1987-01-09 00:00:00,-10.596961,1985,1985-02-08 00:00:00,-8.731106
EE,1987,1987-01-06 00:00:00,-22.700334,1985,1985-02-05 00:00:00,-18.132054
GB,1982,1982-01-08 00:00:00,-3.036316,1987,1987-01-11 00:00:00,-2.882142
GR,1987,1987-03-04 00:00:00,-0.015684,2002,2002-01-02 00:00:00,0.923749
HR,1985,1985-01-06 00:00:00,-9.300267,2012,2012-02-04 00:00:00,-8.205949
HU,1996,1996-12-25 00:00:00,-12.337935,1985,1985-01-06 00:00:00,-10.621559
IE,2010,2010-12-19 00:00:00,-1.103755,1982,1982-01-07 00:00:00,-1.052301
IT,1985,1985-01-06 00:00:00,-1.323065,2012,2012-02-04 00:00:00,0.904882
LT,2006,2006-01-18 00:00:00,-19.605457,1987,1987-01-05 00:00:00,-18.453214
LV,1987,1987-01-06 00:00:00,-20.270033,2006,2006-01-18 00:00:00,-18.498714
NL,1987,1987-01-11 00:00:00,-8.369264,1996,1996-12-31 00:00:00,-7.765612
PL,1987,1987-01-10 00:00:00,-15.187044,2010,2010-01-21 00:00:00,-14.285714
RO,2012,2012-01-27 00:00:00,-12.595347,1985,1985-01-11 00:00:00,-12.024779
SI,1985,1985-01-05 00:00:00,-10.781673,1996,1996-12-25 00:00:00,-10.710804
SK,1987,1987-01-08 00:00:00,-14.036314,1985,1985-01-05 00:00:00,-13.936171
CH,1985,1985-01-05 00:00:00,-13.857998,2012,2012-02-03 00:00:00,-11.640678
FI,1987,1987-01-06 00:00:00,-28.797158,1985,1985-01-03 00:00:00,-23.155851
NO,1987,1987-01-09 00:00:00,-15.061023,1982,1982-01-02 00:00:00,-13.26974
SE,1987,1987-01-07 00:00:00,-17.690999,1985,1985-02-14 00:00:00,-14.648026
PT,1985,1985-01-09 00:00:00,5.591273,2009,2009-01-06 00:00:00,5.902668
BG,2012,2012-01-27 00:00:00,-12.605866,2017,2017-01-06 00:00:00,-11.337756
ES,1985,1985-01-10 00:00:00,2.093895,1983,1983-02-09 00:00:00,3.002724
FR,1985,1985-01-11 00:00:00,-6.849931,1987,1987-01-11 00:00:00,-6.397895
LU,1985,1985-01-08 00:00:00,-9.74444,1996,1996-12-27 00:00:00,-9.110976
UA,2006,2006-01-20 00:00:00,-17.37982,2010,2010-01-21 00:00:00,-15.827308

In [6]:
# save 
df_peak_years.to_csv('peak_years_80to19.csv')